FRONTEND_URL=http://localhost:3000/frontend
STRIPE_PRIVATE_KEY="ENTER YOUR API KEY HERE"
MONGO_URI= "ENTER YOUR MONGO URI HERE"
MAIL_USER = "ENTER YOUR EMAIL HERE FOR MAILING SYSTEM"
MAIL_PASS ="ENTER YOUR PASSWORD HERE FOR MAILING SYSTEM"