
  .login-cover {
    background: url('../content/images/login-cover.png') no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 91.25%;
    z-index: -1;
}
  .login-card .error{
    margin-right: 30px;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 183px;
  }
  .login-card{
      width: 40%;
      height: auto;
      padding: 20px;
      border-radius: 15px;
      background-color: whitesmoke; 
      position: relative;
      z-index: 1;
  }
  .login-form .forgot{
    text-align: center;
    position: relative;
    left: 10%;
  }
  .login-form .wb {
      font-weight: bold;
      text-align: center;
  }
  .login-form .login-input{
      border-radius: 5px;
      width: 80%;
      position: relative;
      left: 10%;
  }
  
  .login-form .forgot
  {
      color: #6E6E6E;
      font-weight: 600;
  }
  .login-form .login-btn{
      margin-top: 10px;
      margin-bottom: 10px; 
      width: 80%;
      position: relative;
      left: 10%;
  }   
.login-form .createAcc-btn{
      width: 80%;
      position: relative;
      right: 82%;
      font-weight: light;
}
  .login-btn:hover{
      cursor: pointer;
  }

  .forgotPass {
    height: 500px;
    width: 800px;
    overflow-y: scroll;
  }
  .close-btn{
    position: absolute;
    left: 80%;
    bottom: 0.25%;
  }