.login-cover {
  background: url("../content/images/login-cover.png") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 77px);
}
.login-card .error {
  margin-right: 30px;
}
.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 40%;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.login-form .forgot {
  text-align: center;
  position: relative;
  left: 10%;
}
.login-form .wb {
  font-weight: bold;
  text-align: center;
}
.login-form .login-input {
  border-radius: 5px;
  width: 80%;
  position: relative;
  left: 10%;
}

.login-form .forgot {
  color: #6e6e6e;
  font-weight: 600;
}
.login-btn {
  width: 80%;
  margin-top: 10px;
  margin-left: 48px;
}
.createAcc-btn {
  width: 80%;
  margin-left: 48px;
}
.login-btn:hover {
  cursor: pointer;
}

.forgotPass {
  height: 370px;
  width: 610px;
  overflow-y: scroll;
  position: relative;
}
.close-btn {
  position: absolute;
  transform: translate(50%);
  bottom: 5px;
  right: 85px;
}
