.chart-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-container {
  padding: 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  margin-right: 10px;
}

.report-button {
  padding: 8px;
  background-color: #44bab1;
  color: white;
  border: none;
  cursor: pointer;
}

.report-button:hover {
  background-color: #398e85;
}

.table-container {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #44bab1;
  color: white;
}

.table-container tbody tr:hover {
  background-color: #f5f5f5;
}

.chart-canvas {
  margin-top: 20px;
}
