/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.form-submit {
  display: flex !important;
  justify-content: flex-end !important;
}
.form-submit .btn:not(:last-child) {
  margin-right: 8px;
}
.btn-default-width {
  width: 150px;
}
footer {
  z-index: 2;
  background-color: white;
}

/*bootstrap override*/
.btn {
  border-radius: 0 !important;
  box-shadow: 3px 2px 5px #b7b1b1;
  transition: 0.3s ease-in-out !important;
}
.btn:active {
  box-shadow: none;
}

.btn-primary {
  background-color: #44bbb2 !important;
  border: #44bbb2 !important;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.editMedicine {
  max-height: 80vh;
  width: 900px;
  overflow-y: auto; /* Use 'auto' for automatic scrolling when needed */
  background-color: #fff; /* Set a background color to distinguish from overlay */
  padding: 20px; /* Add padding for content */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}
